/* Make the </> icon larger to see! */
.header i {
  font-size: 1.5em;
}
/* Add top margin to container so that it's not blocked by the menu */
.justified.container {
  margin-top: 5em;
}

.container.main {
  margin-top: 5em;
}
